*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: burlywood;
}

.container{
    display:grid;
    place-items: center;
    
}

.upperDesign{
    width:30vw;
    height:12px;
    background-color: brown;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.data{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 30px;
}

.seats{
    margin-right: 20px;
    font-size:18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.remSeats{
    font-size:18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.main{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding:10px;
    background-color: chocolate;
    margin-top:20px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    border-radius: 4px;
}

.smallDiv{
    width:15vw;
    height: 12vh;
    background-color:rgb(33, 33, 107);
    position: relative;
    border: 1px solid black;
}

.show{
    opacity:0.6;
}

@media screen and (max-width:768px){
    .data{
        flex-direction: column;
    }
    .seats{
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .remSeats{
        font-size: 14px;
        
    }
}